<div class="covid">
    <p class="title">Covid-19 statistic in {{country}}</p>
</div>
<div class="covid__body">
    <ul class="covid__info">
        <li class="covid__text"><b>Active:</b><br> <span class="covid__text-count">{{active}}</span></li>
        <li class="covid__text"><b>Confirmed:</b><br> <span class="covid__text-count">{{cases}}</span></li>
        <li class="covid__text"><b>Deaths:</b><br> <span class="covid__text-count">{{deaths}}</span></li>
        <li class="covid__text"><b>Recovered:</b><br> <span class="covid__text-count">{{recovered}}</span></li>
        <li class="covid__text"><b>Confirmed today:</b><br> <span class="covid__text-count">{{todayCases}}</span></li>
        <li class="covid__text"><b>Deaths today:</b><br> <span class="covid__text-count">{{todayDeaths}}</span></li>
    </ul>
</div>